body {
  margin: 0;
  padding: 0;
}

.MainPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Calibri;
  font-size: 24px;
}

.TitleSection {
  background-color: #6ea4bb;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e7e7e6;
}

.TitleSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #5e98b1;
  font-size: 18px;
  padding-left: 10px;
}

.TitleSection button {
  width: 180px;
  height: 40px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: #c04c4b;
  background-color: #f0dba5;
}

.TitleSection button:hover {
  cursor: pointer;
  background-color: #c04c4b;
  color: #6ea4bb;
}

.DisplaySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c04c4b;
  font-family: 'Courier New', Courier, monospace;
}

.DisplaySectionDivision {
  display: flex;
  flex-direction: row;
}

.DisplaySectionDivisionDetails {
  margin: 1em 5em 1em 5em;
  padding: 1em;
  border: solid #6ea4bb .15em;
  border-radius: 5%;
}

.Links{
  margin: 2em 5em 2em 5em;
  border-radius: 4%;
  text-decoration: none;
  color: #c04c4b;
  background-color: #f0dba5;
  padding: 2em;
}

button {
  text-decoration: none;
}